body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #0056b3;
    margin: 20px 0;
}

.input-section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.input-section label {
    font-size: 18px;
    margin-right: 10px;
}

.input-section select, .input-section input {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input-section button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-section button:hover {
    background-color: #004080;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.card {
    background-color: #0056b3;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    height: 150px;
    width: 290px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.card h1 {
    font-size: 45px;
    margin-top: 0;
}

.fa-dollar-sign, .fa-euro-sign {
    margin-right: 8px;
}
/*testandoo*/

#dollar-value {
    color: black;
}

#euro-value{
    color: black;
}


.resposta{

    color: green;
    font-size: 60px;
    
}